body{
    background: linear-gradient(rgba(0, 9, 9, 0.6), rgba(96, 117, 237, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background: white;
    border-radius: 3px;
}
.login{
    width: 360px;
    height: 350px;
    margin: auto;
    background: white;
    border-radius: 3px;
}
h1{
    text-align: center ;
}
h4{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(15, 5, 154);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: white;
    background: rgb(184, 11, 5);
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}